<div class="aboutPageBg"></div>
<div class="aboutPageHeader">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="container-fluid">
            <div class="col-xs-4 col-md-2">
                <svg class="icon" height="100" width="100" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path style="fill:#ffffff" d="M965.888 716.896c9.344-5.344 19.04-6.336 29.056-3.008s17.696 9.696 23.04 19.04c5.344 10.688 6.336 20.704 3.008 30.048s-9.696 16.704-19.04 22.048l-436.864 224.448c-14.688 9.344-32.736 14.016-54.112 14.016a112.832 112.832 0 0 1-54.112-14.016L22.016 785.024c-9.344-5.344-15.712-12.704-19.04-22.048s-2.336-19.36 3.008-30.048c5.344-9.344 12.704-15.712 22.048-19.04s19.36-2.336 30.048 3.008l434.848 224.448c12.032 6.688 24.704 6.688 38.08 0l434.848-224.448zM52.096 384.256c-16.032-8.032-28.384-19.36-37.088-34.08s-13.024-30.048-13.024-46.08c0-34.72 16.704-61.44 50.112-80.16L458.88 13.536c34.72-17.376 69.472-17.376 104.192 0l406.784 210.4c34.72 20.032 52.096 46.752 52.096 80.16 0 16.032-4.672 31.392-14.016 46.08s-22.048 26.048-38.08 34.08l-406.784 210.4c-16.032 8-33.408 12.032-52.096 12.032s-36.064-4-52.096-12.032L52.096 384.256z m36.064-92.192c-6.688 4-10.016 8.032-10.016 12.032s3.328 8.032 10.016 12.032l406.784 210.4c10.688 6.688 22.048 6.688 34.08 0l406.784-210.4c6.688-4 10.016-8.032 10.016-12.032s-3.328-8.032-10.016-12.032L529.024 81.664c-8-2.656-14.016-4-18.048-4-5.344 0-10.688 1.344-16.032 4L88.16 292.064z m877.728 212.416c9.344-5.344 19.04-6.336 29.056-3.008s17.696 9.696 23.04 19.04c5.344 10.688 6.336 20.704 3.008 30.048s-9.696 16.704-19.04 22.048L565.088 799.04a119.584 119.584 0 0 1-54.112 12.032 127.584 127.584 0 0 1-54.112-12.032L22.016 572.608c-9.344-5.344-15.712-12.704-19.04-22.048s-2.336-19.36 3.008-30.048c5.344-9.344 12.704-15.712 22.048-19.04s19.36-2.336 30.048 3.008l434.848 226.432c12.032 6.688 24.704 6.688 38.08 0l434.848-226.432z" fill="" />
                </svg>
            </div>
            <div class="col-xs-8 col-md-6">
                <span class="aboutHeaderTitle">BlueDeck</span>
                <span class="aboutHeaderSubTitle">Organization Management</span>
            </div>
        </div>
    </div>
</div>

