@{ 
    ViewData["Title"] = "Index";
    Layout = "_OrgChartLayout";
}

<div class="options">

</div>
<div class="well">
    <div id="people"></div>
</div>
<script type="text/javascript">
    $.getJSON("/Home/GetComponents", function (source) {
        console.log(source);
        var peopleElement = document.getElementById("people");
        var orgChart = new getOrgChart(peopleElement, {
            primaryFields: ["componentName", "memberName", "contactNumber", "email"],
            expandToLevel: 100,
            enableDetailsView: true,
            clickNodeEvent: clickHandler,
            enableEdit: false,
            layout: getOrgChart.MIXED_HIERARCHY_RIGHT_LINKS,
            dataSource: source
        });
    });
    function clickHandler(sender, args) {
        alert(args.node.data["memberName"]);
    }

</script>