<div class="homePageHeader container container-fluid">
    <div class="col-md-10">
        <h3>Welcome to Bluedeck!</h3>
        <h4>You have successfully registered for a BlueDeck account.</h4>
        <br />
    </div>
</div>
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" style="text-align:center">
    <h2>
        <span>A BlueDeck administrator must activate your account to enable all of the features.</span>
    </h2>
    <h5>
        <span>Accounts are normally activated within a few hours. While you wait for your account to be activated, feel free to explore the site.</span> 
    </h5>
    <p>
        If you would like more information about the status of your account, please <a href="mailto:Admin@BlueDeck.net">Contact the BlueDeck Administrator.</a>
    </p>
</div>
