@model OrgChartIndexViewModel
@{
    Layout = "_OrgChartLayout";
}
<nav class="pageBar navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span class="navbar-brand">Organization Charts</span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-header pull-left">
            <form asp-page="/Index" method="get" class="navbar-form navbar-search">
                <div class="form-group">
                    @Html.DropDownListFor(x => Model.SelectedComponentId,                                         
                                        new SelectList(Model.ComponentList, "Id", "ComponentName"),
                                        "Select Component",
                                        new { id="componentSelectList", @class="bigControl selectBox form-control"}
                   )                   
                </div>
            </form>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a asp-page="/Index"><span class="glyphicon glyphicon-refresh" style="margin-right:2px"></span>Reset</a></li>                
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="people" class="orgChartContainer"></div>
<hidden id="currentComponentId"></hidden>
<script type="text/javascript">
    $(document).ready(function () {
        var orgChart;
        document.getElementById("componentSelectList").addEventListener('change', handleComponentSelect, false);


        function handleComponentSelect(e) {
            var id = $("#componentSelectList").val();

            $.getJSON("/OrgChart/GetComponents", { parentComponentId: id }, function (response) {
                getOrgChart.themes.BlueDeckTheme =
                    {
                        size: [500, 220],
                        toolbarHeight: 46,
                        textPointsNoImage: [
                            { x: 10, y: 40, width: 490 },
                            { x: 10, y: 80, width: 490 },
                            { x: 10, y: 105, width: 490 },
                            { x: 10, y: 130, width: 490 }
                        ],
                        expandCollapseBtnRadius: 20,
                        box: '<path class="get-box" d="M0 0 L500 0 L500 220 L0 220 Z"/>',
                        text: '<text width="[width]" class="get-text get-text-[index]" x="[x]" y="[y]">[text]</text>',
                    };
                var orgChart = new getOrgChart(document.getElementById("people"), {
                    theme: "BlueDeckTheme",
                    enableEdit: false,
                    enableDetailsView: false,
                    enableZoomOnNodeDoubleClick: true,
                    primaryFields: ["componentName", "positionName", "memberName", "email"],
                    dataSource: response,
                    color: "blue",
                    expandToLevel: 3,
                    layout: getOrgChart.MIXED_HIERARCHY_RIGHT_LINKS,
                    updatedEvent: function () {
                        init();
                    }
                });
            });

        }


        function getNodeByClickedBtn(el) {
            while (el.parentNode) {
                el = el.parentNode;
                if (el.getAttribute("data-node-id"))
                    return el;
            }
            return null;
        }
        function btnClicked(sender) {
            var nodeElement = getNodeByClickedBtn(sender);
            var action = sender.getAttribute("data-action");
            var id = nodeElement.getAttribute("data-node-id");
            var node = orgChart.nodes[id];
            var memberId = node.data["memberId"];
            var positionId = node.data["positionId"];
            switch (action) {
                case "member":
                    window.location.href = "/Members/Details?id=" + memberId;
                    break;
                case "component":
                    window.location.href = "/Positions/Details?id=" + positionId;
                    break;
            }
        }

        var init = function () {
            var btns = document.getElementsByClassName("btn btn-org");
            for (var i = 0; i < btns.length; i++) {

                btns[i].addEventListener("click", function () {
                    var nodeElement = getNodeByClickedBtn(this);
                    var action = this.getAttribute("data-action");
                    var id = nodeElement.getAttribute("data-node-id");
                    var node = orgChart.nodes[id];

                    switch (action) {
                        case "edit":
                            alert(id);
                            break;
                        case "preview":
                            orgChart.showDetailsView(id);
                            break;
                    }
                });
            }

        }
        if ($("#componentSelectList").val() != null && $("#people").children().length == 0) {
            handleComponentSelect();
        }
    });
   


</script>
