<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="~/lib/getorgchart/css/getorgchart.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/getorgchart/js/getorgchart.js"></script>
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
