<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="~/lib/getorgchart/css/getorgchart.css" rel="stylesheet" />
    <link asp-href-include="lib/bootstrap/css/*.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/getorgchart/js/getorgchart.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/lib/bluedeck/css/bluedeck.css" rel="stylesheet" />

</head>
<body>
    @await Component.InvokeAsync("NavigationMenu")
    <div class="col-xs-11">
        <h3 class="text-danger">@ViewBag.Message</h3>
        @RenderBody()
    </div>
</body>
</html>
