<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="~/lib/getorgchart/css/getorgchart.css" rel="stylesheet" />
    <link asp-href-include="lib/bootstrap/css/*.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/getorgchart/js/getorgchart.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
    <link href="~/lib/bluedeck/css/bluedeck.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/lib/bluedeck/css/images/favicon.ico" />

</head>
<body>
    @await Component.InvokeAsync("NavigationMenu")
    <div class="col-xs-12 pageContentContainer">
        @RenderBody()
    </div>
    <!-- Modal -->
    <div id="modalTarget">

    </div>


</body>
</html>
