@model DocumentsIndexViewModel
<div class="col-md-12">
    <br />
    <h4>Generate Documents</h4>
    <hr />
    <div class="row">
        <div class="col-sm-10 form-group">
            <label class="control-label">Select a Component:</label>
            @Html.DropDownList("SelectedComponent",
                    new SelectList(Model.Components, "Id", "ComponentName"),
                    "Choose Component",
                    new { @class = "form-control" })
            <small class="text-danger" id="selectedComponentMessage"></small>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-10 form-group HomePageDocumentButtonGroup">
            <a style="line-height:43px" class="btn btn-default bigSquareButton pull-left" id="GenerateAlphaRoster" download>
                <img style="height:25px; width:25px;" src="/lib/bluedeck/css/images/Alphabetize.png">
            </a>
            <strong>Generate an Alpha Roster</strong><br />
            <small>An Alpha Roster will list all Members of the selected component in alphabetical order by the Member's last name.</small>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 form-group HomePageDocumentButtonGroup">
            <a style="line-height:45px" type="button" class="btn btn-default bigSquareButton pull-left" id="GenerateComponentRoster" download>
                <img style="height:35px; width:35px;" src="/lib/bluedeck/css/images/Roster.png">
            </a>
            <strong>Generate a Component Roster</strong><br />
            <small>Component Roster will list all Positions and Members of the selected component and all of its subordinate Components, grouped by Component.</small>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 form-group HomePageDocumentButtonGroup">
            <a class="btn btn-default bigSquareButton pull-left" id="GenerateOrgChart" download>
                <img style="height:50px; width:50px;" src="/lib/bluedeck/css/images/OrgChartIcon.png">
            </a>
            <strong>Generate an Organizational Chart</strong><br />
            <small>Generate an organizational chart for the selected Component and all of its subordinate components.</small>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 form-group HomePageDocumentButtonGroup">
            <a class="btn btn-default bigSquareButton pull-left" id="GenerateLineup" download>
                <img style="height:50px; width:50px;" src="/lib/bluedeck/css/images/OrgChartIcon.png">
            </a>
            <strong>Generate a Patrol Squad Lineup</strong><br />
            <small>Create a Patrol Squad Lineup for the selected Component.</small>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.getElementById("GenerateAlphaRoster").addEventListener('click', handleAlphaRosterClick, false);
        document.getElementById("GenerateComponentRoster").addEventListener('click', handleComponentRosterClick, false);
        document.getElementById("GenerateOrgChart").addEventListener('click', handleOrgChartClick, false);
        document.getElementById("GenerateLineup").addEventListener('click', handleLineupClick, false);

        $("#SelectedComponent").change(function () {
            $("#selectedComponentMessage").text("");
            if ($(this).val() == "") {
                document.getElementById("GenerateAlphaRoster").removeAttribute('href');
                document.getElementById("GenerateComponentRoster").removeAttribute('href');
                document.getElementById("GenerateOrgChart").removeAttribute('href');
                document.getElementById("GenerateLineup").removeAttribure('href');
            }
            else {
                componentId = $(this).val();
                document.getElementById("GenerateAlphaRoster").href = "/Documents/DownloadAlphaRoster/" + componentId;
                document.getElementById("GenerateComponentRoster").href = "/Documents/DownloadComponentRoster/" + componentId;
                document.getElementById("GenerateOrgChart").href = "/Documents/DownloadOrganizationChart/" + componentId;
                docuemnt.getElementById("GenerateLineup").href = "/Documents/Lineup/" + componentId + "?returnUrl=%2FDocuments%2FIndex";
            }

        });
    });
    
    function handleAlphaRosterClick(e) {
        var componentId = $("#SelectedComponent").val();
        if (componentId == "") {
            $("#selectedComponentMessage").text("Select a Component")
        }
    }
    function handleComponentRosterClick(e) {
        var componentId = $("#SelectedComponent").val();
        if (componentId == "") {
            $("#selectedComponentMessage").text("Select a Component")
        }
    }
    function handleOrgChartClick(e) {
        var componentId = $("#SelectedComponent").val();
        if (componentId == "") {
            $("#selectedComponentMessage").text("Select a Component")
        }
    }
</script>
