<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link asp-href-include="lib/bootstrap/css/*.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">Org Chart Demo</a>
    </div>
    <div class="row-panel">
        <div id="categories" class="col-xs-1">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
    </div>
    <div class="col-xs-11">
        @RenderBody()
    </div>
</body>
</html>
