@model PositionWithComponentListViewModel

<h4>Position</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PositionName" class="control-label"></label>
                <input asp-for="PositionName" class="form-control" />
                <span asp-validation-for="PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentComponentId" class="control-label"></label>
                @Html.DropDownListFor(model => model.ParentComponentId, 
                                                new SelectList(Model.Components, "Id", "ComponentName"), 
                                                "Choose Parent Component", 
                                                new { @class = "form-control" })
                <span asp-validation-for="ParentComponentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsUnique" /> @Html.DisplayNameFor(model => model.IsUnique)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsManager" /> @Html.DisplayNameFor(model => model.IsManager)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
