@model PositionWithComponentListViewModel


<h4>Position</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Position.PositionId" />
            <div class="form-group">
                <label asp-for="Position.Name" class="control-label"></label>
                <input asp-for="Position.Name" class="form-control" />
                <span asp-validation-for="Position.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position.ParentComponent.ComponentId" class="control-label"></label>
                @Html.DropDownListFor(model => model.Position.ParentComponent.ComponentId, new SelectList(Model.Components, "ComponentId", "Name"), "Choose Parent Component", new { @class = "form-control" })
                <span asp-validation-for="Position.ParentComponent.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Position.IsUnique" /> @Html.DisplayNameFor(model => model.Position.IsUnique)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Position.JobTitle" class="control-label"></label>
                <input asp-for="Position.JobTitle" class="form-control" />
                <span asp-validation-for="Position.JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Position.IsManager" /> @Html.DisplayNameFor(model => model.Position.IsManager)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
