<div class="col-xs-12">
    <div class="footer container-lg width-full px-3" role="contentinfo">
        <div class="position-relative d-flex flex-justify-between pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light ">
            <ul class="list-style-none d-flex flex-wrap ">
                <li class="mr-3">© 2019 <span title="BlueDeck">BlueDeck</span>.net</li>
                <li class="mr-3"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="mr-3"><a href="mailto:Admin@BlueDeck.net">Contact BlueDeck</a></li>
                <li class="mr-3"><a href="#">API</a></li>
                <li class="mr-3"><a href="#">Help</a></li>
                <li><a asp-action="About" asp-controller="Home">About</a></li>
            </ul>

            <a asp-action="About" asp-controller="Home" aria-label="Homepage" title="BlueDeck" class="footer-octicon mx-lg-4">
                <svg height="32" class="octicon octicon-mark-github" viewBox="0 0 1024 1024" version="1.1" width="32" aria-hidden="true"><path style="fill:#808080" d="M965.888 716.896c9.344-5.344 19.04-6.336 29.056-3.008s17.696 9.696 23.04 19.04c5.344 10.688 6.336 20.704 3.008 30.048s-9.696 16.704-19.04 22.048l-436.864 224.448c-14.688 9.344-32.736 14.016-54.112 14.016a112.832 112.832 0 0 1-54.112-14.016L22.016 785.024c-9.344-5.344-15.712-12.704-19.04-22.048s-2.336-19.36 3.008-30.048c5.344-9.344 12.704-15.712 22.048-19.04s19.36-2.336 30.048 3.008l434.848 224.448c12.032 6.688 24.704 6.688 38.08 0l434.848-224.448zM52.096 384.256c-16.032-8.032-28.384-19.36-37.088-34.08s-13.024-30.048-13.024-46.08c0-34.72 16.704-61.44 50.112-80.16L458.88 13.536c34.72-17.376 69.472-17.376 104.192 0l406.784 210.4c34.72 20.032 52.096 46.752 52.096 80.16 0 16.032-4.672 31.392-14.016 46.08s-22.048 26.048-38.08 34.08l-406.784 210.4c-16.032 8-33.408 12.032-52.096 12.032s-36.064-4-52.096-12.032L52.096 384.256z m36.064-92.192c-6.688 4-10.016 8.032-10.016 12.032s3.328 8.032 10.016 12.032l406.784 210.4c10.688 6.688 22.048 6.688 34.08 0l406.784-210.4c6.688-4 10.016-8.032 10.016-12.032s-3.328-8.032-10.016-12.032L529.024 81.664c-8-2.656-14.016-4-18.048-4-5.344 0-10.688 1.344-16.032 4L88.16 292.064z m877.728 212.416c9.344-5.344 19.04-6.336 29.056-3.008s17.696 9.696 23.04 19.04c5.344 10.688 6.336 20.704 3.008 30.048s-9.696 16.704-19.04 22.048L565.088 799.04a119.584 119.584 0 0 1-54.112 12.032 127.584 127.584 0 0 1-54.112-12.032L22.016 572.608c-9.344-5.344-15.712-12.704-19.04-22.048s-2.336-19.36 3.008-30.048c5.344-9.344 12.704-15.712 22.048-19.04s19.36-2.336 30.048 3.008l434.848 226.432c12.032 6.688 24.704 6.688 38.08 0l434.848-226.432z" /></svg>
            </a>
            <ul class="list-style-none d-flex flex-wrap ">
                <li class="mr-3"><a asp-controller="OrgChart" asp-action="Index">OrgChart</a></li>
                <li class="mr-3"><a asp-controller="Members" asp-action="Index">Members</a></li>
                <li class="mr-3"><a asp-controller="Positions" asp-action="Index">Positions</a></li>
                <li class="mr-3"><a asp-controller="Components" asp-action="Index">Components</a></li>
                <li><a asp-controller="Roster" asp-action="Index">Roster Manager</a></li>
            </ul>
        </div>
        <div class="d-flex flex-justify-center pb-6">
            <span class="f6 text-gray-light"></span>
        </div>
    </div>
</div>